<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Title</title>
    <head th:replace="fragments/header :: header('','/css/dash.css')"></head>
</head>
<body>
    <nav role="navigation">
        <div id="menuToggle">

            <input type="checkbox"/>

            <span></span>
            <span></span>
            <span></span>


            <ul id="menu">
                <a href="#"><li>Dashboard</li></a>
                <a href="#"><li>Profile</li></a>
                <!--<a href="#"><li>Translate</li></a>-->
                <a href="#"><li>New Translation</li></a>
                <a href="#"><li>View Translations</li></a>
                <a href="#"><li>View My Translations</li></a>
                <a href="#"><li>About Us</li></a>
                <!--<a href="#"><li>Resources</li></a>-->
                <a href="#"><li>Logout</li></a>

            </ul>
        </div>
    </nav>
</body>
</html>