<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="fragments/header :: header('500 Error', '')"></head>
<body>

    <main>
        <div id="side_nav" th:replace="fragments/sidenav"></div>

        <div class="container container-fluid">
            <div id="container">
                <div class="row">
                    <div class="col">
                        <div  class="text-center card border-dark mb-3 shadow container-item">
                            <div class="card-header">Uh Oh</div>
                            <div class="card-body text-dark">
                                <h3>Looks like something went wrong, if you got here after trying to make a request that means the url you submitted has probably been submitted by someone else, check the requests list and make sure it isn't already there.</h3>
                                <h3>If you continue to get this error please contact us at <a href = "mailto: ourpueblo@gmail.com">ourpueblo@gmail.com</a> with the steps you took to get to this error.</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>
</html>