div#aboutUsContainer li{
    margin-left: auto;
    margin-right: auto;
    background-color: #092a3a;
}
h1#aboutHeading{
    text-align: center;
    padding-top:0.5em;
    padding-bottom:0.5em;
    color:white;
}
div#aboutUsContainer{
     margin-top:1em!important;
     background-color: #092a3a!important;
 }
div.aboutCard{
    border:none;
    background-color: #092a3a;
    color: white;
}