/*body{*/
/*}*/
div#dashboardCard {
    width: 75% !important;
    margin: .5em !important;
    margin-left: auto !important;
    margin-right: auto !important;
    z-index:-1!important;
}
h3#dashboardSubheading{
    padding-top:0.35em;
}