/*body{*/
/*}*/
/*div#mainContent{*/
    /*margin-top:5%;*/
    /*margin-left:10%;*/
    /*background-color: white;*/
    /*opacity:.75;*/
    /*width:75%;*/
    /*padding:25px;*/
/*}*/
/*!* The sidepanel menu *!*/
/*.sidepanel {*/
    /*height: 100%; !* Specify a height *!*/
    /*width: 0; !* 0 width - change this with JavaScript *!*/
    /*position: fixed; !* Stay in place *!*/
    /*z-index: 1; !* Stay on top *!*/
    /*top: 0;*/
    /*left: 0;*/
    /*background-color: #111; !* Black*!*/
    /*overflow-x: hidden; !* Disable horizontal scroll *!*/
    /*padding-top: 60px; !* Place content 60px from the top *!*/
    /*transition: 0.5s; !* 0.5 second transition effect to slide in the sidepanel *!*/
/*}*/
/*!* The sidepanel links *!*/
/*.sidepanel a {*/
    /*padding: 8px 8px 8px 32px;*/
    /*text-decoration: none;*/
    /*font-size: 25px;*/
    /*color: #818181;*/
    /*display: block;*/
    /*transition: 0.3s;*/
/*}*/
/*!* When you mouse over the navigation links, change their color *!*/
/*.sidepanel a:hover {*/
    /*color: #f1f1f1;*/
/*}*/
/*!* Position and style the close button (top right corner) *!*/
/*.sidepanel .closebtn {*/
    /*position: absolute;*/
    /*top: 0;*/
    /*right: 25px;*/
    /*font-size: 36px;*/
    /*margin-left: 50px;*/
/*}*/
/*!* Style the button that is used to open the sidepanel *!*/
/*.openbtn {*/
    /*font-size: 20px;*/
    /*cursor: pointer;*/
    /*background-color: #111;*/
    /*color: white;*/
    /*padding: 10px 15px;*/
    /*border: none;*/
/*}*/
/*.openbtn:hover {*/
    /*background-color: #444;*/
/*}*/
/*img.owner-img {*/
    /*width: 64px;*/
    /*float: left;*/
    /*margin-left: 3%;*/
    /*margin-top: -3%;*/
    /*cursor: pointer;*/
    /*position: fixed;*/
/*}*/


body {
    margin: 0;
    padding: 0;
    background-color: #092a3a;
}

a {
    text-decoration: none;
    color: #232323;
    transition: color 0.3s ease;
}

a:hover {
    color: #092a3a;
}

#menuToggle {
    display: block;
    position: sticky;
    top: 50px;
    left: 50px;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;

}

#menuToggle input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;
    cursor: pointer;
    opacity: 0;
    z-index: 2;

    -webkit-touch-callout: none;
}


#menuToggle span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;

    background: #cdcdcd;
    border-radius: 3px;

    z-index: 1;

    transform-origin: 4px 0px;

    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
    background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
    opacity 0.55s ease;
}

#menuToggle span:first-child {
    transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
    transform-origin: 0% 100%;
}


#menuToggle input:checked ~ span{
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #232323;
}

#menuToggle input:checked ~ span:nth-last-child(3){
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}


#menuToggle input:checked ~ span:nth-last-child(2){
    transform: rotate(-45deg) translate(0, -1px);
}

#menu {
    position: absolute;
    width: 300px;
    margin: -100px 0 0 0px;
    padding: 50px;
    padding-top: 125px;
    background: whitesmoke;
    list-style-type: none;
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);

    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li{
    padding: 10px 0;
    font-size: 22px;
}


#menuToggle input:checked ~ ul {
    transform: none;
}

.container-fluid{
    background-color: #092a3a;
    margin-top: -30px;
}

div.card{
    width: 45%;
    float: right;
    margin: 1em;
}

ul#menu{
    padding-left: 50px;
}
input[type=checkbox]{
    margin-left: 10px;
}