html{
    /*background-color: #092a3a !important;*/
}
body{
    /*background-color: #092a3a !important;*/
}

div.container-fluid{
    color: black;
    width: 80%;
    left: 10%;
    right: 10%;
    background-color: inherit !important;
    margin-top: 4em;
    /*border: #092a3a solid 1px;*/
    border-radius: 5px;
}

div.card{
    width: inherit !important;
    margin: .5em !important;
    margin-left: 0 !important;
    margin-right: 0 !important;

}
body {
    background: url('../img/sa-skyline-2.jpg') fixed no-repeat;
    background-size: cover;
}
div#indexRow{
    margin-top:3%;
}
#\20 indexCard{
    width: 75% !important;
    margin: .5em !important;
    margin-left: auto !important;
    margin-right: auto !important;
}
#register_button:hover{
    background: green;
}
#register_button{
    border: 0!important;
    border-radius: 8px!important;
    padding-bottom: 0!important;
    height: 60px!important;
    background: #092a3a!important;
    color: white!important;
    cursor: pointer!important;
    transition: none!important;
    margin-left: auto!important;
    width: 50%!important;
    margin-right: auto!important;
    margin-top:5%;

}
div#registerCard{
    width:50%!important;
    margin-left: auto!important;
    margin-right: auto!important;
}
div#registerRow{
    margin-top:5%!important;
    /*margin-left:10%!important;*/
}
form#createUser{
    /*text-align:center!important;*/
}
form#createUser>input[type="text"]{
    background-color: rgb(232, 240, 254) !important;
    background-image: none !important;
    text-align: center!important;
    width:100%;
    color: rgb(0, 0, 0) !important;
}
input#verifyPassword{
    background-color: rgb(232, 240, 254) !important;
    background-image: none !important;
    color: rgb(0, 0, 0) !important;
    text-align: center!important;
    width:100%;
}
input#password{
     background-color: rgb(232, 240, 254) !important;
     background-image: none !important;
     color: rgb(0, 0, 0) !important;
     text-align: center!important;
     width:100%;
 }
form#createUser>label{
    font-weight: bold;
}

a.links{
    padding-left:25px;
    padding-right:25px;
}
@media screen and (min-width: 700px) {
    input#password{
        width:50%!important;
    }
    input#verifyPassword{
        width:50%!important;
    }
    form#createUser>input[type="text"]{
        width:50%!important;
    }
}

div.card-header{
    background-color: #092a3a;
    color: white;
}
img.card-img-top{
    width:80%;
    margin-left:auto;
    margin-right:auto;
}
div#aboutUsContainer{
    margin-top:1em!important;
    background-color: #092a3a!important;
}
div.aboutCard{
    border:none;
    background-color: #092a3a;
    color: white;
}
.btn-linkedin {
    width: 15%;
    display:inline;
}
.btn-github {
    width: 15%;
    margin-left:5%;
    display: inline;
    cursor: pointer;
}
ul.list-group.list-group-flush {
    list-style:none;
    display: inline-block;
}
div#aboutUsContainer li{
    margin-left: auto;
    margin-right: auto;
    background-color: #092a3a;
}
h1#aboutHeading{
    text-align: center;
    padding-top:0.5em;
    padding-bottom:0.5em;
    color:white;
}

.card-body{
    background-color: #092a3a !important;
    color: white !important;
}
.card-header{
    background-color: white !important;
    color: #092a3a !important;
}
