<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="fragments/header :: header('About Our Pueblo', '/css/about.css')"></head>
<body>
    <div id="side_nav" th:replace="fragments/sidenav"></div>
    <div class="container container-fluid">
        <h1 id="aboutHeading">Meet the Our Pueblo Team!</h1>

        <div class="row" id="aboutRow">
            <div class="col-md-12">
                <div  id="aboutCard" class="text-center card border-dark mb-3 shadow container-item">
                        <div class="card-group">
                            <div class="card">
                                <img src="/img/MichaelCarranza.jpg" class="card-img-top" alt="Michael Carranza"/>
                                <div class="card-body">
                                    <h5 class="card-title" style="text-align: center">Michael Carranza</h5>
                                    <a href="https://linkedin.com/in/michaelcarranza" target= "_blank"><img src="/img/linkedin.png" class="btn-linkedin" alt="Mike's LinkedIn"/></a>
                                    <a href="https://github.com/michael-carranza" target= "_blank"><img src="/img/github2.png"  class="btn-github" alt="Mike's GitHub"/></a>
                                </div>
                            </div>
                            <div class="card">
                                <img src="/img/AustinGarza.jpg" class="card-img-top" alt="Austin Garza"/>
                                <div class="card-body">
                                    <h5 class="card-title" style="text-align: center">Austin Garza</h5>
                                    <a href="https://linkedin.com/in/austin-garza" target= "_blank"><img src="/img/linkedin.png" class="btn-linkedin" alt="Austin's LinkedIn"/></a>
                                    <a href="https://github.com/austinrgarza" target= "_blank"><img src="/img/github2.png"  class="btn-github" alt="Austin's GitHub"/></a>
                                </div>
                            </div>
                            <div class="card">
                                <img src="/img/RyanGlazer.jpg" class="card-img-top" alt="Ryan Glazer"/>
                                <div class="card-body">
                                <h5 class="card-title" style="text-align: center">Ryan Glazer</h5>
                                    <a href="https://linkedin.com/in/ryan-e-glazer" target= "_blank"><img src="/img/linkedin.png" class="btn-linkedin" alt="Ryan's LinkedIn"/></a>
                                    <a href="https://github.com/rglazer003" target= "_blank"><img src="/img/github2.png"  class="btn-github" alt="Ryan's GitHub"/></a>
                                </div>
                            </div>
                        </div>
                </div>
            </div>

        </div>
    </div>
    <!--<div class="container-fluid" id="aboutUsContainer">-->
    <!--<h1 id="aboutHeading">Meet the Our Pueblo Team!</h1>-->
        <!--<div class="row">-->

        <!--<div class="card col aboutCard" id="aboutMike" style="width: 20rem!important;">-->
        <!--<img src="/img/MichaelCarranza.jpg" class="card-img-top" alt="Michael Carranza"/>-->
        <!--<div class="card-body">-->
            <!--<h5 class="card-title" style="text-align: center">Michael Carranza</h5>-->
            <!--&lt;!&ndash;<p class="card-text">I truly enjoy creating client-facing solutions to real-work problems using my eclectic skill set. My background in behavioral health positions me to excel in hybrid roles that rely on both task-oriented coding and cultivating relationships.</p>&ndash;&gt;-->
        <!--&lt;!&ndash;</div>&ndash;&gt;-->
        <!--&lt;!&ndash;<ul class="list-group list-group-flush">&ndash;&gt;-->
            <!--&lt;!&ndash;<li class="list-group-item">From: Brownsville, TX</li>&ndash;&gt;-->
            <!--<span style="margin-left:32%">-->
               <!--<a href="https://linkedin.com/in/michaelcarranza" target= "_blank"><img src="/img/linkedin.png" class="btn-linkedin" alt="Mike's LinkedIn"/></a>-->
                <!--<a href="https://github.com/michael-carranza" target= "_blank"><img src="/img/github2.png"  class="btn-github" alt="Mike's GitHub"/></a>-->
            <!--</span>-->
        <!--&lt;!&ndash;</ul>&ndash;&gt;-->
        <!--</div>-->
    <!--</div>-->

    <!--<div class="card col aboutCard" id="aboutAustin" style="width: 20rem!important;">-->
        <!--<img src="/img/AustinGarza.jpg" class="card-img-top" alt="Austin Garza"/>-->
        <!--<div class="card-body">-->
            <!--<h5 class="card-title" style="text-align: center">Austin Garza</h5>-->
            <!--&lt;!&ndash;<p class="card-text">I am a Marine Corps intelligence analyst turned full stack developer. Through code we are able to build meaningful and purposeful applications that have the ability to impact countless people's lives with our work.</p>&ndash;&gt;-->
        <!--&lt;!&ndash;<ul class="list-group list-group-flush">&ndash;&gt;-->
            <!--&lt;!&ndash;<li class="list-group-item">From: San Antonio, TX</li>&ndash;&gt;-->

        <!--<span style="margin-left:32%">-->
            <!--<a href="https://linkedin.com/in/austin-garza" target= "_blank"><img src="/img/linkedin.png" class="btn-linkedin" alt="Austin's LinkedIn"/></a>-->
            <!--<a href="https://github.com/austinrgarza" target= "_blank"><img src="/img/github2.png"  class="btn-github" alt="Austin's GitHub"/></a>-->
        <!--&lt;!&ndash;</ul>&ndash;&gt;-->
        <!--</span>-->
        <!--</div>-->
    <!--</div>-->

    <!--<div class="card col aboutCard" id="aboutRyan" style="width: 20rem!important;">-->
        <!--<img src="/img/RyanGlazer.jpg" class="card-img-top" alt="Ryan Glazer"/>-->
        <!--<div class="card-body">-->
            <!--<h5 class="card-title" style="text-align: center">Ryan Glazer</h5>-->
            <!--&lt;!&ndash;<p class="card-text">I have always had a love for technology, in particular computers and the prospect of AI. I greatly enjoy problem solving and learning new things. Few things are as satisfying to me as seeing my code doing its tasks.</p>&ndash;&gt;-->
        <!--&lt;!&ndash;<ul class="list-group list-group-flush">&ndash;&gt;-->
            <!--&lt;!&ndash;<li class="list-group-item">From: Dallas, TX</li>&ndash;&gt;-->
        <!--<span style="margin-left:32%">-->
            <!--<a href="https://linkedin.com/in/ryan-e-glazer" target= "_blank"><img src="/img/linkedin.png" class="btn-linkedin" alt="Ryan's LinkedIn"/></a>-->
            <!--<a href="https://github.com/rglazer003" target= "_blank"><img src="/img/github2.png"  class="btn-github" alt="Ryan's GitHub"/></a>-->
        <!--&lt;!&ndash;</ul>&ndash;&gt;-->
        <!--</span>-->
        <!--</div>-->
    <!--</div>-->
        <!--</div>-->
    <!--</div>-->
</body>
</html>