<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="fragments/header :: header('Confirm Delete','')"></head>
<body>

    <div th:replace="fragments/navbar :: navbar"></div>
    <h1 style="color: red;">ARE YOU SURE YOU WANT TO DELETE THIS TRANSLATION?</h1>
    <form id="deleteForm" th:action="@{/translate/delete}" method="post">
        <div class="form-group">
            <input type="hidden" th:value="${deleteID}" name="deleteID"/>
            <input type="button" class="btn btn-block btn-primary" onclick="location.href='/user/dashboard';" value="No" />
            <input type="submit" class="btn btn-block btn-primary" value="Yes"/>
        </div>
    </form>
</body>
</html>