<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="fragments/header :: header('Confirm Delete','/css/confirmDelete.css')"></head>
<body>
    <main>
        <div id="side_nav" th:replace="fragments/sidenav"></div>

        <div class="container container-fluid">
            <div id="container">
                <div class="row">
                    <div class="col">
                        <div  class="text-center card border-dark mb-3 shadow container-item">
                            <div class="card-header">Confirm Request Deletion</div>
                            <div class="card-body text-dark">
                                <h1 style="color: red;">ARE YOU SURE YOU WANT TO DELETE THIS TRANSLATION?</h1>
                                <form id="deleteForm" th:action="@{/admin/requests/delete}" method="post">
                                    <div class="form-group">
                                        <input type="hidden" th:value="${id}" name="deleteID" id="deleteID"/>
                                        <input type="button"  value="No" />
                                        <br/>
                                        <br/>
                                        <input type="submit" value="Yes"/>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>
</html>