<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="fragments/header :: header('Dashboard','/css/dash.css')"></head>
<body>
    <!--<div th:replace="fragments/navbar :: navbar"></div>-->
    <main>
        <div class="layout">

            <section class="sidebar">
                <div class="brand">
                    <h2> Our Pueblo </h2>
                </div>

                <nav class="main-nav">
                    <ul class="main-menu menu">
                        <li class="menu-item selected selected">
                            <a href="#"> Dashboard </a>
                        </li>

                        <li class="menu-item">
                            <a href="#">Profile</a>
                        </li>

                        <li class="menu-item">
                            <a href="#">Translate</a>
                        </li>

                        <li class="menu-item">
                            <a href="#">Request New Translation</a>
                            <!--<span class="badge"> 2 </span>-->
                        </li>

                        <li class="menu-item">
                            <a href="#">View Translations</a>
                        </li>


                        <li class="menu-item">
                            <a href="#"> Logout </a>
                        </li>

                        <li class="menu-item">
                            <a href="#"> About Us </a>
                        </li>
                    </ul>

                    <!-- Submenu -->
                    <ul class="sub-menu menu">
                        <li class="menu-item">
                            <a href="#"> Need Help? </a>
                        </li>

                        <li class="menu-item">
                            <a href="#"> Contact Us </a>
                        </li>

                        <li class="menu-item">
                            <a href="#"> Dictionary </a>
                        </li>
                    </ul>
                </nav>

                <!-- Creators -->
                <div class="creators">

                    <div class="owner">
                        <img src="../static/img/bird-log-nobg.png" class="owner-img" />

                        <div class="desc">
                            <h3> Austin, Mike, Ryan </h3>
                            <h6> Project Creators </h6>
                        </div>
                    </div>

                    <div class="copyright">
                        <h3> &copy; Our Pueblo Ltd. 2019 </h3>
                        <p class="copy-text"> Created with love and passion by developers who develop with the user in mind.</p>
                    </div>
                </div>
            </section>
            </div>
    </main>
</body>
</html>