<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="fragments/header :: header('Delete User', '/css/deleteUser.css')"></head>
<body>
    <!--<div th:replace="fragments/navbar :: navbar"></div>-->
    <!--<div th:if="${user.admin}">-->
        <!--<h1>Admins may not alter the status of other Admins, Please contact the Website Administrator if an Admin-->
            <!--account needs to be deleted</h1>-->
    <!--</div>-->
    <!--<div th:if="${!user.admin}">-->
        <!--<h1 style="color: red">WARNING: DELETING A USER IS UNDOABLE</h1>-->
        <!--<h1>Are you sure that you want to delete user <span th:text="${user.username}"></span>?</h1>-->
        <!--<form id="deleteForm" action="/admin/userlist/delete" method="post">-->
            <!--<div class="form-group">-->
                <!--<input type="hidden" th:value="${user.id}" name="deleteID" id="deleteID"/>-->
                <!--<input type="submit" class="btn btn-block btn-primary" value="Yes"/>-->
                <!--<input type="button" class="btn btn-block btn-primary" onclick="location.href='/admin/userlist';"-->
                       <!--value="No"/>-->
            <!--</div>-->
        <!--</form>-->
    <!--</div>-->
<main>
    <div id="side_nav" th:replace="fragments/sidenav"></div>

    <div class="container container-fluid">
        <div id="container">
            <div class="row">
                <div class="col">
                    <div  class="text-center card border-dark mb-3 shadow container-item" style="max-width: 18rem;">
                        <div class="card-header">Delete User</div>
                        <div class="card-body text-dark">
                            <h5 class="card-title" style="color: red">Warning: This action cannot be undone </h5>
                            <p class="card-text">
                                are you sure you want to delete this user: <span th:text="${user.username}">?</span>
                                <br/>
                            </p>
                            <br/>
                            <br/>
                            <p class="card-text">
                            <form id="deleteForm" th:action="@{/admin/userlist/delete}" method="post">
                                <div class="form-group">
                                    <input type="hidden" th:value="${user.id}" name="deleteID" id="deleteID"/>
                                    <input type="submit" class="btn btn-block btn-primary" value="Yes"/>
                                    <input type="button" class="btn btn-block btn-primary" onclick="location.href='/admin/userlist';"
                                           value="No"/>

                                </div>
                            </form>
                            </p>

                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</main>
</body>
</html>