<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="fragments/header :: header('Deployment List','')"></head>
<body>
    <div class="container container-fluid">
        <div id="container">
    <div th:each="deployment : ${deploymentList}">
            <div class="row">
                <div class="col">
                    <div  class="text-center card border-dark mb-3 shadow container-item" style="max-width: 100%;">
                        <div class="card-header">Request URL: <br/>
                            <span th:text="${deployment.request.web_page}"></span>
                        </div>
                        <div class="card-body text-dark">
                            <h3>Translation By:</h3>
                            <h5 th:text="${deployment.user.username}" class="card-title"></h5>
                            <h3>Timestamp:</h3>
                            <h5 th:text="${deployment.time}" class="card-title"></h5>
                            <h3>Translation:</h3>
                            <h5 th:text="${deployment.userTranslation}"></h5>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

</body>
</html>