<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="fragments/header :: header('Reset Password','')">
</head>
<body>
    <div th:replace="fragments/navbar :: navbar"></div>
    <h1 th:if="${wrongEmail}">Email not found, please try again</h1>
    <h1>Please enter the email and security answer for your account.</h1>
    <br/>
    <form id="passwordForm" th:action="@{/user/forgot}" th:method="post">
        <label for="email">Email:</label>
        <br/>
        <input type="text" id="email" name="email"/>
        <input type="submit" class="btn btn-block btn-primary" value="Request"/>
    </form>

    
</body>
</html>