<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="fragments/header :: header('Home')"></head>
<body>
<div th:replace="fragments/navbar :: navbar"></div>

<h1 id="heading">Login Page!</h1>

    <main>
        <div id="container">
            <form action="">
                <img src="/static/img/img/birdlogo.jpeg"/><br/>
                <input type="text" value="Welcome"/><br/>
                <input type="password"/><br/>
                <input type="submit" value="SIGN IN"/><br/>
                <span><a href="#">Forgot Password?</a></span>
            </form>
        </div>
    </main>

</body>
</html>