<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="fragments/header :: header('Index', '')">
</head>
<body>
    <div th:replace="fragments/navbar :: navbar"></div>

    <h1 id="heading">Our Pueblo Home Page</h1>
    <h1>Links for testing</h1>
    <h3>Home Controller</h3>
    <a href="/about">About</a>
    <br/>
    <h3>User Controller</h3>
    <a href="/register">Register</a>
    <br/>
    <a href="/login">Login</a>
    <br/>
    <h1>User Features</h1>
    <br/>
    <h4>View Profile</h4>
    <br/>
    <a href="/user/profile">View Profile</a>
    <h4>Request a Translation</h4>
    <br/>
    <a href="/translate/request">Request a Page to Translate</a>
    <h4>View Submitted Translations</h4>
    <br/>
    <a href="/user/translations">View all Translations you have made</a>
    <hr/>



<script src="/js/showText.js"></script>
</body>
</html>