<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="fragments/header :: header('Home')"></head>
<body>
    <div th:replace="fragments/navbar :: navbar"></div>

    <h1 id="heading">Our Pueblo Home Page</h1>

    <h1>Links for testing</h1>
    <h3>Home Controller</h3>
    <a href="/about">About</a>
    <br/>
    <h3>User Controller</h3>
    <a href="/register">Register</a>
    <br/>
    <a href="/login">Login</a>
    <br/>
    <a href="/user/profile">User Profile</a>
    <br/>
    <a href="/user/profile/edit">Edit Profile</a>
    <br/>
    <a href="/user/dashboard">Dashboard</a>
    <br/>
    <h3>User Controller: Admin functions</h3>
    <a href="/admin/userlist">User List</a>
    <br/>
    <h3>Request Controller</h3>
    <a href="/request">Make a Request</a>
    <br/>
    <a href="/request/viewall">View All Untranslated Requests</a>
    <h3>Translation Controller</h3>
    <a href="/translate/request">Request a Page to Translate</a>
    <br/>
    <a href="/translate/123">Translate a page (Testing with ID 123)</a>
    <br/>
    <h3>Translation Controller: Admin Functions</h3>
    <a href="/translate/viewall">View all translations</a>
    <br/>
    <a href="/translate/view">View a Translation with Admin Functions</a>


</body>
</html>