<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8" />
    <title>Log In</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="/css/register.css"/>
</head>
<body>
    <!--<div th:replace="fragments/navbar :: navbar"></div>-->
    <div class="form-group" id = "container">
        <form id="createUser" th:action="@{/register}" th:method="post" th:object="${user}">
            <label for="username">Username</label>
            <input type="text" id="username" name="username" th:field="*{username}"/>
            <label for="email" id="emailLabel">Email</label>
            <input type="text" id="email" name="email" th:field="*{email}"/>
            <br/>
            <label for="password">Password</label>
            <input type="password" id="password" name="password" th:field="*{password}"/>
            <label for="verifyPassword" id="verifyLabel">Confirm Password</label>
            <input type="password" id="verifyPassword" name="verifyPassword"/>
            <br/>
            <label for="phoneNumber">Phone Number</label>
            <input type="text" id="phoneNumber" name="phoneNumber" th:field="*{phone_number}"/>
            <label for="receiveEmails" id="receiveLabel">Receive Emails?</label>
            <select name="recieveEmails" id="receiveEmails" th:field="*{recieve_emails}">
                <option value="true">Yes</option>
                <option value="false">No</option>
            </select>
            <br/>
            <label for="securityQuestion"><span id="sq">Security Question:</span><br/>What is your best friend's name?</label>
            <input type="text" id="securityQuestion" name="securityQuestion" th:field="*{security_question}"/>
            <br/>
            <input type="submit" class="btn btn-block btn-primary" value="Register"/>
        </form>
    </div>
</body>
</html>