<!--PAGE FOR USERS TO REQUEST A PAGE TO TRANSLATE-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="fragments/header :: header('Request a Page to Translate','')"></head>
<body>
    <div th:replace="fragments/navbar :: navbar"></div>
    <div th:each="request : ${requests}">
        <div th:if="${request.status.id == 101}">
        <h1>Web Page: <span th:text="${request.web_page}"></span></h1>
        <br/>
        <h3>Department: <span th:text="${request.department_id.getName()}"></span></h3>
        <br/>
        <h3>Description: <span th:text="${request.description}"></span></h3>
        <br/>
        <h3>Status: <span th:text="${request.status.getStatus()}"></span></h3>
        <br/>
        <a th:href="@{/translate/{id}(id=${request.id})}">Translate This Page</a>
        </div>
    </div>
</body>
</html>